<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/memos/preview.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/memos/fullInfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/memos/comment.css" asp-append-version="true" />
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

   
</head>
<body>
    <header class="header">
        <div>
            <a asp-controller="Memos" asp-action="Index">Memos</a>
            <a asp-controller="People" asp-action="Index">People</a>
            <a asp-controller="NewMemo" asp-action="Index">New Memo</a>
        </div>

        <a asp-controller="Account" asp-action="Index">Account</a>
    </header>
    <div class="main-content">
        @RenderBody()
    </div>
    <dialog id="memo-dialog">

    </dialog>
    @await RenderSectionAsync("Scripts", required: false)


    <script>
        var memoDialog = document.getElementById('memo-dialog');
        memoDialog.addEventListener('htmx:afterSwap', function (event) {
            if (event.target.id === 'memo-dialog') {
                memoDialog.showModal();
            }
        });
        function closeMemoFullInfo() {
            document.getElementById('memo-dialog').close();
        }
    </script>
</body>
</html>
