@{
    ViewData["Title"] = "Unknown User";
}
<link rel="stylesheet" href="~/css/pages/account/unknown.css" asp-append-version="true" />
<div class="not-found-container">
    <div class="not-found">
        <h1>Unknown user</h1>
        <a asp-action="Index" asp-controller="People" class="people-link">Find people</a>
    </div>
</div>
<style>

  

</style>