@{
    ViewData["Title"] = "Memos";
}
@model MemoPageViewModel
@{
    string[] PopularTags =
               ["fashion", "love", "memooftheday", "beautiful", "art", "photography", "happy", "nature", "fitness", "technology", "travel", "music", "food"];

}
<link rel="stylesheet" href="~/css/pages/memos/memos_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/pages/memos/memos_page_filter.css" asp-append-version="true" />
<div class="frame">
    <div class="memos-container">
        <div class="sort-options-container">
            <form hx-target=".content-area" hx-swap="innerHTML">
                <select asp-for="@Model.sorting.sortType" asp-items="Html.GetEnumSelectList<SortTypes>()" class="sort-select" name='sortType'
                        hx-post="/memos/sortingChanged" hx-trigger="change delay:200ms" hx-include="[name='sortType'],[name='isDescending']">
                </select>
                <div class="sort-direction-toggle">
                    <label for="sortDescending" class="sort-direction-label">
                        <input asp-for="@Model.sorting.isDescending" type="checkbox" id="sortDescending" class="sort-direction-checkbox" name='isDescending'
                               hx-post="/memos/sortingChanged" hx-trigger="change delay:200ms" hx-include="[name='sortType'],[name='isDescending']" />
                        <svg class="sort-arrow" viewBox="0 0 448 512">
                            <path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
                        </svg>
                    </label>
                </div>
            </form>
        </div>
        <div class="content-area" hx-trigger="intersect once" hx-swap="innerHTML" hx-target='this' hx-post="/Memos/RenderNewPackage" hx-vals='{"alreadyRendered": "0"}'>
        </div>
    </div>
    <div hx-target="this" hx-swap="outerHTML" hx-trigger="load" hx-post="/memos/RenderFilter">
    </div>
</div>