@{
    ViewData["Title"] = "Memos";
}

<link rel="stylesheet" href="~/css/pages/memos/memos_page.css" asp-append-version="true" />
<div class="frame">
    <div class="memos-container">
        <div class="sort-options">Sort Options</div>
        <div class="content-area">Content</div>
    </div>
    <div class="memos-filter">
        Filter Options
    </div>
</div>