@{
    ViewData["Title"] = "Memos";
}
@model MemoPageViewModel
@{
    string[] PopularTags =
               ["fashion", "love", "memooftheday", "beautiful", "art", "photography", "happy", "nature", "fitness", "technology", "travel", "music", "food"];

}
<link rel="stylesheet" href="~/css/pages/memos/memos_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/pages/memos/memos_page_filter.css" asp-append-version="true" />
<div class="frame">
    <div class="memos-container">
        <div class="sort-options">Sort Options</div>
        <div class="content-area">
            <div class="memos-package">
            </div>
        </div>
    </div>
    <form class="memos-filter" hx-post="/memos/ApplyFilter">
        <div class="filter-tags">
            <label class="filter-tags-label">Chosen tags:</label>
            <div id="filter-chosen-tags">
                @foreach (string tag in Model.filer.tags)
                {
                    <filter-tag tagname="@tag" />
                }
            </div>
            <label class="filter-tags-label">Use search bar to find other tags:</label>
            <div class="search-tag-container">
                <input type="text" class="search-tag-input" hx-trigger="keyup delay:200ms" hx-post="memos/RenderFoundTags" name="searchTag" hx-target="#found-tags">
                <span class="search-tag-icon">
                    <svg viewBox="0 0 512 512">
                        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>

                </span>
            </div>

            <div id="found-tags">
            </div>
            <label class="filter-tags-label">Or choose from popular:</label>
            @foreach (string tag in PopularTags)
            {
                <add-filter-tag tagname="@tag"></add-filter-tag>
            }

        </div>

        <div class="filter-buttons">
            <button type="button" class="clear-filters-btn">Clear Filters</button>
            <button type="submit" class="apply-filters-btn">Apply Filters</button>
        </div>
    </form>
</div>