@model MemoPackageViewModel

@if (Model.memos.Any())
{
    <div class="memos-package">
        @foreach (var memo in Model.memos)
        {
            <memo memo-content="@memo"></memo>
        }
    </div>
}
else if (Model.memos.Count() < 10)
{
    <label class="memos-over-label">
        Oops, the memos are over
    </label>
}