@model MemoCreationForm

<link rel="stylesheet" href="~/css/pages/new_memo/new_memo.css" asp-append-version="true" />

<form class="new-memo-form"
      hx-post="/newMemo/SaveNewMemo" hx-redirect="/MyAccount" enctype="multipart/form-data">

    <p class="add-label">Add text: </p>
    <textarea asp-for="authorComment" name="authorComment" class="author-comment" required></textarea>

    <p class="add-label">Add image: </p>
    <input asp-for="image" type="file" class="image-input" accept=".jpg, .jpeg, .png" />

    <div class="hashtags-container">
    </div>

    <button type="button" class="hashtag-add-btn" hx-post="/newMemo/renderNewHashtagInput" hx-target=".hashtags-container" hx-swap="beforeend">Add Hashtag</button>
    <input type="submit" class="upload-memo-btn" value="Upload Memo" />
</form>

