.profile-container {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px 30px 20px 30px;
}

.profile-picture {
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: none !important;
    outline: none !important;
}


.user-info {
    padding: 10px 0 10px 20px;
    flex-grow: 1;
}

.name-and-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nickname, .last-login {
    margin: 0;
}

.last-login {
    font-size: 16px;
    text-align: right;
    color: #999;
}

.nickname {
    font-size: 32px;
    color: #333;
    font-weight: bold;
}

.fullname {
    margin-top: 10px;
    font-size: 22px;
    color: #777;
}



.additional-info {
    padding: 15px;
    font-size: 14px;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.profile-container, .additional-info {
    animation: fadeIn 0.4s ease-in-out;
}


.link-type {
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
}

.link {
    color: #1a0dab;
    text-decoration: none;
    transition: color 0.3s ease;
}

    .link:hover {
        color: #2a5db0;
        text-decoration: underline;
    }