
.last-login {
    margin: 0;
    font-size: 16px;
    text-align: right;
    color: #999;
    align-self:self-start;
}

.additional-info-button {
    background-color: #a78ef6;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 20px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    justify-self: end;
}

    .additional-info-button:hover {
        background-color: #9c75e6;
        color: white;
    }
