.new-memo-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    color: #333;
}
.add-label {
    margin-top:30px;
    font-size: 19px;
    color: #222;
}
.author-comment {
    width: 98%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 17px;
    color: #333;
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
}

.profile-picture-input {
    border: 1px solid #ccc;
    padding: 10px;
}

.hashtags-container {
    margin-bottom: 20px;
}

.hashtag-add-btn,
.upload-memo-btn {
    background-color: #a78ef6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
}

    .hashtag-add-btn:hover,
    .upload-memo-btn:hover {
        background-color: #9e7ae9;
    }

.hashtag-input-block {
    margin-top:6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120px;
    gap: 10px;
}

    .hashtag-input-block span {
        font-size: 28px;
        font-weight:bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #a78ef6;
    }

    .hashtag-input-block button {
        background-color: #a78ef6;
        aspect-ratio: 1/1;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.1s ease;
    }

        .hashtag-input-block button:hover {
            background-color: #956df6;
        }

.hashtag-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 27px;
    color: #9e7ae9;
    outline:none;
}



.image-input::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

    .image-input::file-selector-button:hover {
        background-color: #f3f4f6;
    }

    .image-input::file-selector-button:active {
        background-color: #e5e7eb;
    }