<p>fdkslkldfs</p>
<p>vsdccv</p>
<p>fdkcxvxcslkldfs</p>

@* 
<div class="profile-picture-container">
    <img src="@Model.profilePicturePath" class="profile-picture" />

    <button hx-post="/myAccount/renderProfilePictureInput" hx-trigger="click" hx-target=".profile-picture-container" hx-swap="outerHTML">
        Choose new profile picture
    </button>
</div> *@