@model string
@{
    var ProfilePicture = Model;
}
<div class="profile-picture-container">
    @if (string.IsNullOrEmpty(ProfilePicture))
    {
        <div class="no-picture-found">
            No profile picture found
        </div>
    }
    else
    {
        <img src="/@($"{ProfilePicture}?{DateTime.UtcNow.Ticks}")" class="profile-picture" />

    }
    <button hx-post="/myAccount/renderProfilePictureInput" hx-trigger="click" hx-target=".profile-picture-container" hx-swap="outerHTML">
        Choose new profile picture
    </button>
</div>
