.memo {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}

.memo-top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .memo-top-info img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .memo-top-info div {
        display: flex;
        align-items: center;
    }


.memo-author {
    color: #a78ef6;
    font-weight: bold;
}

.memo-comment {
    margin-bottom: 10px;
    font-size: 17px;
}

.memo-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .memo-image img {
        max-width: 60%;
        max-height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

.memo-date {
    font-size: 12px;
    color: #888;
}

.memo-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.memo-tag {
    background-color: #a78ef6;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    text-decoration: none;
}

    .memo-tag:hover {
        background-color: #9e7ae9;
        color: aliceblue;
    }

.memo-interactions {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .memo-interactions span {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 23px;
    }

    .memo-interactions svg {
        height: 30px;
        aspect-ratio: 1/1;
        fill: currentColor;
        cursor:pointer;
    }


.memo-icon {
    color: #888;
}
    .memo-icon:hover {
        color: #9e7ae9;
        transform:scale(1.05)
    }
.memo-like-pressed {
    color: #9e7ae9;
}