
#memo-dialog {
    width: 1200px;
    position: absolute;
    margin: auto;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 18px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.memo-top-border {
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    background-color: #c8aefc;
    box-shadow: 0 2px 2px rgba(12, 12, 44, 0.1);
    position: relative;
}

.close-button {
    outline: none;
    color: #f7f5f7;
    position: absolute;
    right: 10px;
    top: 6px;
    border: none;
    background: transparent;
    font-size: 36px;
    cursor: pointer;
}

    .close-button:hover {
        color: #e9e2eb;
    }

.memo-fu-container {
    min-height: 500px;
    max-height: 800px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0 40px;
}

.memo-fu-main {
    display: flex;
    flex-direction: column;
    min-width: calc(400px + 10vw);
    overflow-y: auto;
}

.memo-fu-image {
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .memo-fu-image img {
        overflow: hidden;
        width: 80%;
        max-width: 600px;
        height: auto;
    }

.memo-fu-author {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

    .memo-fu-author img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .memo-fu-author span {
        color: #a78ef6;
        font-weight: bold;
    }

.memo-fu-author-comment {
    padding: 14px;
    font-size: 16px;
}

.memo-fu-footer {
    padding: 16px;
    border-top: 1px solid #dbdbdb;
}

.memo-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.see-all-tags {
    text-decoration: none;
    white-space: nowrap;
    font-size: 18px;
    color: #5e5a5a;
}
.memo-tag {
    background-color: #a78ef6;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    text-decoration: none;
}

    .memo-tag:hover {
        background-color: #9e7ae9;
        color: aliceblue;
    }

.memo-fu-sidebar {
    display: grid;
    grid-template-rows: 88% auto;
    flex-direction: column;
}

.memo-comments-count {
    font-size: 18px;
}

.memo-fu-add-comment {
    display: flex;
    align-items: center;
    padding: 8px;
    height: 46px;
    width:100%;
}

    .memo-fu-add-comment input[type='text'] {
        flex-grow: 1;
        border: 1px solid #dbdbdb;
        border-radius: 22px;
        padding: 10px 15px;
        margin-right: 10px;
        font-size: 16px;
    }

.post-comment-button {
    background-color: #a78ef6;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .post-comment-button svg {
        fill: #fafafa;
        height: 22px;
        width: 30px;
    }

    .post-comment-button:hover {
        background-color: #9e7ae9;
    }
