.frame {
    width:100%;
    display:grid;
    grid-template-columns:auto calc(200px + 9vw);
}

.memos-container {
    margin-right: 20px;
}

.sort-options {
    margin-bottom: 20px;
}

.content-area {
}
