.memo {
    width: calc(50% + 210px);
    border: 1px solid #ddd;
    padding: 16px 30px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(20, 10, 77, 0.1);
    color: #333;
}

.memo-top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .memo-top-info a img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .memo-top-info a {
        text-decoration:none;
        display: flex;
        align-items: center;
        cursor:pointer;
    }


.memo-author {
    color: #a78ef6;
    font-weight: bold;
}

.memo-comment {
    margin-bottom: 10px;
    font-size: 17px;
}

.memo-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .memo-image img {
        max-width: 60%;
        max-height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor:pointer;
    }

.memo-date {
    font-size: 12px;
    color: #888;
}

.memo-interactions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom:10px;
}

    .memo-interactions span {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 23px;
    }

    .memo-interactions svg {
        height: 30px;
        aspect-ratio: 1/1;
        fill: currentColor;
        cursor:pointer;
    }


.memo-icon {
    color: #888;
}
    .memo-icon:hover {
        color: #9e7ae9;
        transform:scale(1.05)
    }
.memo-like-pressed {
    color: #9e7ae9;
}
.render-tags {
    color: #777;
    
    font-size: 0.8em;
    margin-left:auto;
    margin-right:0;
}
    .render-tags:hover {
        color: #9369d9;
    }