@{
    ViewData["Title"] = "Authorization - Memo";
}
@model AuthorizationForm


<form class="authorization-form" hx-post="authorization/login" hx-swap="outerHTML" hx-target="this">
    <p class="input-line">
        Email:
        <input type="text" name="Email" class="input" value="@Model.Email" />
    </p>
    <p class="input-line">
        Password:
        <input type="password" name="Password" class="input" value="@Model.Password" />
    </p>
    <p class="error-line">@Model.ErrorLine</p>
    <input type="submit" value="Login" class="login-button" />
    <a asp-controller="Registration" asp-action="Index">Don't have an account?</a>
</form>
